@import '@Styles/main.scss';

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/background/background.jpg) center;
}

.modal-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 500px;
    margin: 8% 0 30% 30%;
    z-index: 9999;
    color: $white-color;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.877);
    @include regular-font;
}

.modal-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
    z-index: 9999;
    background: rgb(0, 0, 0, 0.6);
}

.modal-window_hidden {
    display: none;
}

.modal-wrapper_hidden {
    display: none;
}

.modal-window__header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5%;
}

.modal-window__close-button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url('../../assets/headerIcons/closeModal.png');
}

.modal-window__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    margin-top: 50px;
}

.modal-window__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 65px;
    margin: 2% 2% 2% 13%;
    @media (max-width: 1105px) {
        flex-direction: column;
    }
}

.modal-window__input-field {
    width: 100%;
    height: 40px;
}

.modal-window__fieldname {
    width: 100%;
    @media (max-width: 1105px) {
        text-align: center;
        width: 100%;
        margin: 10px 0 10px 0;
    }
}

.modal-window__button {
    height: 30px;
    border: none;
    border-radius: 6px;
    color: $white-color;
    background-color: $purple-color;
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-window__button:hover {
    background-color: rgba(200, 0, 218, 0.644);
}

.modal-window__button:active {
    padding-bottom: 0.5px;
}

//_______________________________________________________________________________________________________

.edit-modal-window {
    width: 40%;
    height: 100%;
    margin: 1% 0 0 30%;
    z-index: 9999;
    color: $white-color;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.877);
    @include regular-font;

    @media (max-width: 900px) {
        width: 60%;
        margin: 1% 0 0 20%;
    }
}

.edit-modal-window__header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 40px;
    margin: 0 auto;
}

.edit-modal-wrapper {
    position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
    min-height: 100%;
    z-index: 9999;
    background: rgb(0, 0, 0, 0.6);
}

.edit-modal-wrapper_hidden {
    display: none;
}

.edit-modal-window_hidden {
    display: none;
}

.modal-window__main-headers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3% 3% 0 3%;

    @media (max-width: 1105px) {
        display: none;
    }
}

.modal-window__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 1105px) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.modal-window__main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5% 5% 5% 5%;
}

.modal-window__main-image {
    width: 100%;
}

.edit-modal-windows-buttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    margin-top: 9%;
}

.edit-modal-window__button {
    @include button;
    margin: 0 10px 50px 10px;
}

.edit-modal-window__form {
    width: 100%;
}

.modal-window__checkbox-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 10% 2% 2% 13%;

    @media (max-width: 1105px) {
        flex-direction: row;
        text-align: center;
    }
}

.modal-window__checkbox-container {
    text-align: center;
}