@import '@Styles/main.scss';

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/background/background.jpg);
}

.modalwindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 400px;
    margin: 10% 0 10% 30%;
    z-index: 9999;
    color: $white-color;
    background-color: rgba(0, 0, 0, 0.877);
    @include regular-font;
}

.modal-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
    z-index: 9999;
    background: rgb(0, 0, 0, 0.6);
}

.modalwindow_hidden {
    display: none;
}

.modal-wrapper_hidden {
    display: none;
}

.modalwindow__header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5%;
}

.modalwindow__close-button {
    width: 20px;
    height: 20px;
    border: none;
}

.modalwindow__close-button:hover {
    background-color: gray;
}

.modalwindow__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
}

.modalwindow__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 2% 2% 2% 13%;
}

.modalwindow__button {
    height: 30px;
    border: none;
    border-radius: 6px;
    color: $white-color;
    background-color: $purple-color;
    margin-top: 50px;
}

.modalwindow__button:hover {
    background-color: rgba(200, 0, 218, 0.644);
}

.modalwindow__button:active {
    padding-bottom: 0.5px;
}

.modalwindow__input-field {
    width: 60%;
}

//_______________________________________________________________________________________________________

.edit-modalwindow {
    width: 60%;
    margin: 100px 0 0 20%;
    z-index: 9999;
    color: $white-color;
    background-color: rgba(0, 0, 0, 0.877);
    @include regular-font;
}

.edit-modalwindow__header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 40px;
    margin: 0 auto;
}

.edit-modal-wrapper {
    position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
    z-index: 9999;
    background: rgb(0, 0, 0, 0.6);
}

.edit-modal-wrapper_hidden {
    display: none;
}

.edit-modalwindow_hidden {
    display: none;
}

.modalwindow__main-headers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3% 3% 0 3%;
}

.modalwindow__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 400px;
    margin: 0 auto;
}

.modalwindow__main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 5% 5% 5% 5%;
}

.modalwindow__main-image {
    width: 100%;
}

.edit-modal-windows-buttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.edit-modalwindow__button {
    @include button;
    margin-bottom: 50px;
}

.modalwindow__desc-input-field {
    width: 60%;
    height: 100px;
    resize: none;
}

.edit-modalwindow__form {
    width: 80%;
}