// Fonts

@mixin regular-font {
    font-family: $font-family;
    font-weight: $font-regular;
}

@mixin bold-font {
    font-family: $font-family;
    font-weight: $font-bold;
}

// Shadow

@mixin purple-shadow {
    box-shadow: 0px 1px 10px 7px rgba(199, 0, 218, 0.5);
}