@import '../../styles/main.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/background/background.jpg);
    @include regular-font;
}

.home__main {
    width: 70%;
}

.home__title {
    width: 100%;
    margin-top: 70px;
    padding-bottom: 9px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.98);
    color: rgba(255, 255, 255, 0.98);
}

.home__categories-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home__device-logo {
    width: 60%;
    @media (min-width: 300px) and (max-width: 700px){      
        flex-wrap: wrap;
    }
}

.home__text{
    text-align: center;
    color: $white-color;
}

.home__logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2%;
    border: 3px rgba(0, 0, 0, 0.800) solid;
    border-bottom: 8px solid rgba(0, 0, 0, 0.800);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.800);
    color: gba(255, 255, 255, 0.98);
}

.home__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2%;
}

.home__logos-container:hover {
    border: 3px solid;
    border-bottom: 8px solid;
    border-color: $purple-color;
    transition-property: border;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.home__game-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}