@import '@Styles/main.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.800);
    @include regular-font;
}

.header__title {
    display: flex;
    align-items: center;
    width: 20%;
    @include bold-font;
    color: $white-color;
}

.header__nav {
    width: 70%;
    height: 100%;
}

.header__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header__list-element {
    display: flex;
    justify-content: center;
    width: 40%;
    padding-top: 40px;
    color: $white-color;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

.header__list-element:hover {
    color: $white-color;
    background-color:rgba(255, 255, 255, 0.26);
    border-bottom: 5px solid;
    border-color: $purple-color;
}

.header__link {
    display: flex;
    justify-content: center;
    height: 28px;
    text-align: center;
    color: $white-color;
}

// Signed In Buttons 

.header__user-icon {
    width: 50px;
    height: 30px;
    background: url(../../assets/headerIcons/userIcon.png) no-repeat;
}

.header__user-name{
    width: 100%;
}

.header__cart-icon {
    width: 55px;
    height: 30px;
    border: none;
    background: url(../../assets/headerIcons/cartIcon.png) no-repeat center;
    cursor: pointer;
}

.header__cart-icon-amount {
    width: 40%;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 50px;
    color: $white-color;
    background-color: $purple-color;
}

.header__logout-icon {
    width: 55px;
    height: 30px;
    border: none;
    background: url(../../assets/headerIcons/logOut.png) no-repeat center;
    cursor: pointer;
}

.dropdown-link {
    padding: 15px;
    color:rgba(0, 0, 0, 0.9);
}

.header__create-card-button {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 40px;
    color: $white-color;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.header__create-card-button:hover {
    color: $white-color;
    background-color:rgba(255, 255, 255, 0.26);
    border-bottom: 5px solid;
    border-color: $purple-color;
}