@import '@Styles/main.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    padding: 2% 0 3% 0;
    background-color: rgba(0, 0, 0, 0.800);
    color: $white-color;
    @include regular-font;

    @media (max-height: 850px) {
        margin-top: 30%;
    }

    @media (max-width: 850px) and (max-height: 1024px) {
        margin-top: 30%;
    }
    
}

.footer__title {
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
}

.footer__icons {
    display: flex;
    justify-content: center;
    height: 45px;
    margin: 2%;
}

.footer__link {
    padding: 0 2.3% 0 2.3%;
}

.footer__link:hover{
    margin: 5px
}