@import '../../styles/main.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.800);
    color: $white-color;
    @include regular-font;
}

.footer__title {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.footer__icons {
    display: flex;
    justify-content: center;
    height: 45px;
    padding: 0 0 15px 0;
}

.footer__link {
    padding: 0 2.3% 0 2.3%;
}

.footer__link:hover{
    margin: 5px
    
}