.footer {
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.800);
    color: rgb(255, 255, 255)
}

.footer__title {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 2% 0 5% 0;
}