.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
  margin: 15% 0 0 35%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 10px 10px 10px 10px rgba(0,0,0,0.22);
}